@font-face{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    font-weight: 700;
    font-style: normal;
}
